*{
  margin: 0%;
  padding: 0%;
}
.Main{
   background-color: #fffdf7;
}
.Body{
   /* display: flex; */
   margin-top: 100px;
   justify-content: space-between;
   width: 80%;
   margin: auto;
   /* border: 1px solid tomato; */
   background-color:#fffdf7;
}
.div1{

 width:90%;
   margin-left: 2%;
   background-color: #ffffff;
 /* border: 1px solid green; */
 display: flex;
 margin-bottom: 100px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 
}
/* .div1 div{
   background-color: #ffffff;
} */


 .name{
   display: flex;
   justify-content: space-between;
   padding-right: 10px;
   /* margin-left: 30px;
   margin-right: 20px; */
 }
 .Zip{
   display: flex;
   width: 90%;
   margin-left: 3.3%;
   justify-content: space-around;
 }
 .Zip>div{
   width: 32%;
   margin-left: 2%;
 }
 .address{
   width: 90%;
  /* margin-left: 2%; */
 }
 #checkbox{
   width: 90%;
   margin-left: 4%;
 }
 .Div2{
   /* display: flex; */
   width: 100%;
   height: 340px;
   margin-right: 2%;
   margin-left: 2%;
   margin-bottom: 100px;
   /* border: 1px solid red; */
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   background-color: #ffffff;
 }
 
 .date{
     width: 93%;
     /* margin: 10px; */
     margin-left: 10px;
     margin-bottom: 7px;
 }
.meals{
 display: flex;
 justify-content: space-between;
 width: 89%;
 margin-left: 15px;
 margin-top: 10px;
 margin-bottom: 10px;
}

.hr{
 width: 89%;
 justify-content: center;
 margin-left: 15px;
 /* margin-right: 15px; */ 
}
.shadow{
 background-color: #f7f7f7;
 width: 90%;
 margin-left: 15px;
 margin-top: 14px;

}
.discount1{
 display: flex;
 justify-content: space-between;
 padding: 5px;
}
.discount2{
 display: flex;
 justify-content: space-between;
 padding: 5px;
}
#p{
 font-weight: bold;
 font-size: 14px;
}
#price{
 color: teal;
 font-size: 14px;
 font-weight: bold;
}
#price2{
 color: black;
 font-size: 14px;
 font-weight: bold;
}
.shiping{
 display: flex;
 justify-content: space-between;
 padding: 5px;
 margin-left: 15px;
 margin-right: 19px;
 margin-top: 10px;
}

.Mymeal{
 margin: 0;
  
}
#para{
 font-size: 23px;
 font-weight: bold;
 text-align: left;
margin-top: 50px;
margin-left: 5px;
}
.item-div{
 display: flex;
 width: 99%;
 justify-content: space-around;
 /* border: 1px solid red; */
 margin-left: 10px;
}
.img-div{
  width: 20%;
/* border: 1px solid teal; */
margin-left: -35px;
}
#img1{
 width: 14px;
}
#img2{
 width: 85%;
 height: 50px;
}
.item-name{
 width: 47%;
 /* border: 1px solid blue; */
 margin-left: -65px;
}
#para1{
 width: 10px;
 font-size: 19px;
 font-weight: bold;
 margin-top: 10px;
}
#meal-name{
 margin-top: 10px;
 font-weight: bold;
}
.btn{
 width: 90%;
 justify-content: center;
 margin: auto;
 margin-top: 10px;
 margin-left: 30px;
 margin-bottom: 20px;
}